{% extends 'base/main.html' %}

{% block content %}

<div class="header-bar">
  <div>
    <h1>Hello {{request.user|title}}</h1>
    <h3 style="margin:0">You have <span style="font-size: 39px; margin: 10px;">{{count}}</span> incomplete
      task{{count|pluralize:"s" }}</h3>
  </div>

  {% if request.user.is_authenticated %}
  <a href="{% url 'logout' %}">Logout</a> {% else %}
  <a href="{% url 'login' %}">Login</a> {% endif %}
</div>

<div id="search-add-wrapper">
  <form method="GET" style="margin-top: 20px; display: flex;">
    <input type="text" name="search-area" value="{{search_input}}">
    <input class="button" type="submit" value="Search">
  </form>
  <a id="add-link" href="/task-create">&#x2b;</a>
</div>





<div id="tasklist" class="task-items-wrapper">
  {% for task in tasks %}
  <div class="task-wrapper" data-position="{{task.pk}}">
    <div class="task-title">
      {% if task.complete %}
      <div class="task-complete-icon"></div>
      <!-- <form method="PUT">
        <label for="">{{form.complete.label}}</label>
        {{form.complete}}
        <input style="margin-top:10px;" class="" type="submit" value="" class="task-complete-icon">
      </form> -->
      <i><s><a href="/task-update/{{ task.id }}/">{{task}}</a></s></i> {% else %}
      <div class="task-incomplete-icon"></div>
      <!-- <form method="PUT">
        <label for="">{{form.complete.label}}</label>
        {{form.complete}}
        <input style="margin-top:10px;" class="" type="submit" value="" class="task-incomplete-icon">
      </form> -->
      <a href="/task-update/{{ task.id }}/">{{task}}</a> {% endif %}
    </div>
    <div class="task-controls">
      <a class="delete-link" href="/task-delete/{{ task.id }}/">&#215;</a>
      <span class="handle">&nbsp;&#10247;</span>
    </div>
  </div>

  {% empty %}
  <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
    <h3>No new tasks are created.</h3>
    <h3>Create a <a style="text-decoration: none; color: #e53935;" href="{% url 'task-create' %}">New task</a> ! </h3>
  </div>
  {% endfor %}
</div>

{% endblock content %}